{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to the Quiz App</h1>
    <p>
        Welcome to Quiz App, where knowledge meets excitement! Get ready to embark on a journey of intriguing questions, mind-boggling 
        puzzles, and fascinating trivia. Whether you're a history buff, a pop culture connoisseur, or a science enthusiast, we've got 
        something for everyone. Challenge your wits, compete against friends, and unlock achievements as you progress through our 
        diverse range of quizzes. With carefully crafted questions and a user-friendly interface, we aim to provide you with the 
        ultimate quiz experience. So, let the games begin and let's see if you have what it takes to become the ultimate quiz champion!
    </p>
{% endblock %}